exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(SA230104157, .registration = TRUE)
importFrom(MASS,mvrnorm)
importFrom(glmnet,cv.glmnet)
importFrom(glmnet,glmnet)
importFrom(ncvreg,cv.ncvreg)
importFrom(ncvreg,ncvreg)
import(stats)
